.Hero-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  margin-top: 12%;
  transform: translateX(-360);
}

.hero-txt {
  width: 40%;
  text-align: start;
  font-size: 42px;
  font-weight: bold;
  line-height: 2.8rem;
}

.Hero-container span {
  margin: 18px 0;
  font-size: 0.9rem;
}

.hero-btn button {
  margin-right: 12px;
}

.hero-image {
  margin-top: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img {
  width: 60%;
}

@media only screen and (max-width: 480px) {
  .Hero-container {
    flex-direction: column;
    align-items: center;
    margin-top: 42%;
    width: 90%;
  }

  .hero-txt {
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-align: center;
    width: 100%;
  }

  .hero-image {
    width: 100%;
    margin-top: 6%;
  }
  .hero-image img {
    width: 80%;
    margin-top: 8%;
  }
}
