.connect-container {
  width: 90%;
  display: flex;
  align-items: start;

  margin: 8% 0;
}

.connect-left {
  flex: 1;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.connect-left span {
  width: 50%;
  text-align: start;
}

.connect-right {
  flex: 1;
  display: flex;
  align-items: start;
  flex-direction: column;
}
.connect-right form {
  width: 90%;
}
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
  padding: 8px;
}
.form-control {
  min-height: 20px;
  margin-top: 2px;
  text-decoration: none;
  text-decoration-line: none;
}
.connect-item {
  display: flex;
  flex-direction: row;
  text-align: start;
  align-items: center;
  margin: 3% 0;
  text-decoration: none;
}
.gray-text {
  color: gray;
  font-size: 0.8rem;
}
i {
  margin-right: 2px;
}

.contact-txt {
  text-decoration-line: none;
}
.offileMap {
  width: 90%;
  height: 380px;
  object-fit: cover;
}

@media only screen and (max-width: 480px) {
  .connect-container {
    flex-direction: column;
    margin-top: 42%;
    align-items: center;
  }
  .connect-left {
    align-items: center;
    justify-content: center;
    width: 80%;
  }
  .connect-right {
    text-align: center;
    align-items: start;
    justify-content: center;
    width: 80%;
    margin-top: 5%;
  }
}
