.Logos-container {
  display: flex;
  width: 90%;
  flex-direction: column;
  margin-top: 5%;
}
.Logos-row {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  justify-content: space-evenly;
}
.logos-company {
  flex: 1;
  display: flex;
  background-color: #eeeeee;
  justify-content: center;
  align-items: center;
  padding: 15px 55px;
  margin: 0 10px;
}
.logos-company img {
  width: 30px;
  margin-right: 10px;
}

@media only screen and (max-width: 480px) {
  .Logos-container {
    margin-top: 42%;
  }
  .Logos-row {
    flex-direction: column;
  }

  .logos-company {
    margin-top: 1.2%;
  }
}
